%form{:method => 'post', :action => '/deliver'}
  %ol
    %li Text is transferred from your browser over an encrypted connection
    %li
      %label{:for => 'how'}
        Should the text be stored locally and accessible using an OpenID, or
        encrypted using GPG and emailed to the recipient?
      %select{:id => 'how', :name => 'how'}
        %option{:value => 'openid'} OpenId
        %option{:value => 'gpg'} GPG
    %li
      %span.how.openid
        %label{:for => 'to_openid'} Only allow someone with the OpenID of
        %input{:type => 'text', :id => 'to_openid', :name => 'to_openid'}
        to access the message.
        %label{:for => 'notify_openid'} Send an email to
        %input{:type => 'text', :id => 'notify_openid', :name => 'notify_openid'}
        to let them know that they have a message waiting.
      %span.how.gpg
        %label{:for => 'to_gpg'} Send the GPG-encrypted email to:
        %select{:id => 'to_gpg', :name => 'to_gpg'}
          -keys.unshift('').each do |k|
            %option{:value => k}
              = h k
  %p
    %label{:for => 'secrets'} Secrets:
    %textarea{:name => 'secrets'}
  %p
    %input{:type => 'submit', :value => 'Send Secrets'}
